@font-face {
    font-family: 'Fedra-Sans';
    src: url('Fedra-Sans.eot');
    src: url('Fedra-Sans.eot?#iefix') format('embedded-opentype'), url('Fedra-Sans.woff') format('woff'), url('Fedra-Sans.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

body {
    font-family: 'Fedra-Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
    color: #545454
}

.navbar {
    min-height: 110px;
    padding-top: 20px
}

.navbar-fixed-top {
    box-shadow: 0 0 13px #aaa;
    top: 30px
}

.navbar-default {
    background-color: #fff;
    border: none
}

.navbar-brand {
    padding: 0
}

.navbar-nav > li > a {
    line-height: 30px;
    text-transform: uppercase;
    padding: 25px 10px
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #1A90BC
}

.navbar-nav > li > .dropdown-menu {
    border-radius: 0
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #ededed
}

.navbar-default .navbar-nav > li > a {
    color: #231F20;
    font-size: 18px
}

.dropdown-menu > li > a {
    padding: 10px 20px
}

.social {
    padding-right: 0px !important
}

#home h1 {
    text-align: center;
    color: #fff;
    font-size: 64px;
    padding-top: 250px;
    text-shadow: 2px 3px 7px #000;
    max-width: 100%;
    margin: 0;
    cursor: pointer;
}

.xs-h1 {
    font-size: 40px !important
}

.carousel-caption {
    top: 20%
}

h1 {
    padding: 80px 0 30px;
    font-size: 80px;
    text-transform: uppercase
}

h2 {
    font-size: 40px;
    margin-top: 50px
}

.h2-home {
    font-size: 80px;
    padding: 30px 0
}

.grid h2 {
    font-size: 20px
}

.effect-selena > figcaption > h2 {
    font-size: 27px
}

#about {
    background: url(../img/about.jpg) no-repeat center;
    background-size: cover;
    height: 450px;
    padding-top: 100px
}

#about1 {
    background: url(../img/about1.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    padding-top: 100px
}

#cit {
    background: url(../img/about3.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0;
    margin-top: 100px !important
}

.list p {
    background-color: #E8E8E8;
    line-height: 60px;
    border-radius: 30px
}

#services h2 {
    margin: 25px 0
}

.service {
    padding: 70px 10px
}

.service a {
    color: #fff;
    font-size: 19px
}

.service a:hover,
.service a:focus {
    text-decoration: none
}

.btn-lg,
.btn-group-lg > .btn {
    border-radius: 0;
    line-height: 1;
    margin: auto;
    margin-top: 30px;
    display: block
}

.link-more {
    background-color: #255E9F;
    color: #fff;
    padding: 10px
}

.link-more:hover,
.link-more:focus {
    background-color: #1A90BC;
    text-decoration: none;
    color: #fff
}

#investor {
    background: url(../img/dubai3.jpg) no-repeat center;
    background-size: cover;
    min-height: 650px;
    padding-top: 200px
}

#investor h2 {
    color: #fff;
    border: 1px solid;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3)
}

#jurisdiction {
    background: url(../img/seychelles.jpg) no-repeat center;
    background-size: cover;
    height: 550px;
    padding-top: 150px
}

#jurisdiction a {
    display: block;
    background-color: #1A90BC;
    padding: 2px;
    color: #fff;
    margin-bottom: 2px
}

#jurisdiction a:hover,
#jurisdiction a:focus {
    background-color: #255E9F;
    text-decoration: none
}

#contact h1 {
    font-size: 80px;
    border-bottom: 8px solid;
    line-height: 70px
}

#contact h2 {
    color: #003878;
    font-size: 40px
}

#container-map {
    width: 100%;
    height: 600px;
    left: 0;
    position: relative;
    margin-bottom: 30px
}

#top-sfu {
    width: 100%;
    background: url(../map/img/top-sfu.png) repeat-x;
    height: 10px;
    position: absolute;
    z-index: 20;
    top: 0
}

#bottom-sfu {
    width: 100%;
    background: url(../map/img/bottom-sfu.png) repeat-x;
    height: 10px;
    position: absolute;
    z-index: 20;
    bottom: 0
}

#logo {
    width: 200px;
    height: 200px;
    background: url(../map/img/logo.png);
    position: absolute;
    left: 100px;
    bottom: 150px;
    z-index: 30
}

.popup a {
    color: #fe4a5d;
    text-decoration: none
}

.popup h2 {
    margin: 0;
    padding: 0
}

.popup #dubai {
    width: 220px;
    height: 40px;
    background: url(../map/img/dubai.png);
    text-indent: -9999px
}

.popup #zurich {
    width: 220px;
    height: 40px;
    background: url(../map/img/zurich.png);
    text-indent: -9999px
}

#map-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10
}

.news {
    margin-bottom: 40px;
    text-align: justify;
    padding: 0 40px
}

.news p {
    min-height: 110px
}

.news h3 {
    min-height: 50px
}

#company {
    background-color: #ededed
}

.company {
    padding: 0 30px;
    text-align: center;
    min-height: 220px;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff
}

#bgh1 {
    background: url(../img/esample1.jpg);
    background-size: cover;
}

#bgh2 {
    background: url(../img/esample2.jpg);
    background-size: cover;
}

#bgh3 {
    background: url(../img/esample4.jpg);
    background-size: cover;
}

#jurisdiction {
    background: none;
    padding-top: 0;
    min-height: 300px
}

.company-box {
    color: #fff;
    border: 1px solid;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 360px
}

#term {
    margin-top: 40px
}

#terms a {
    margin: 0 10px;
    font-size: 13px
}

#managed {
    display: none;
    font-size: 11px;
    margin-bottom: 0;
    opacity: 0.5;
    margin-top: 10px;
}

@media (max-width: 767px) {
    #bs-example-navbar-collapse-1 {
        background-color: #ededed;
        max-height: 800px;
        z-index: 99;
        text-align: right
    }
    nav a {
        text-align: right
    }
    #contact h1 {
        color: #000;
        font-size: 45px;
        border-bottom: 8px solid #000;
        line-height: 45px
    }
    h1 {
        padding: 30px 0;
        font-size: 45px
    }
    .navbar-fixed-top {
        top: 0
    }
    h1 {
        font-size: 30px;
        padding-top: 100px
    }
    .h2-home {
        font-size: 30px;
        padding: 50px 0 15px 0
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
    }
    .navbar-nav > li > a {
        padding: 5px
    }
    #home h1 {
        text-align: center;
        color: #fff;
        font-size: 34px;
        padding-top: 50px;
        text-shadow: 1px 1px 0 #000;
        max-width: 100%;
        margin: 0
    }
}

@media (max-width: 1080px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        padding: 25px 5px
    }
}

#home-modal {
    text-align: center;
}

#home-modal .modal-header {
    border: none;
}

#home-modal .modal-footer {
    border: none;
    text-align: center;
}

.popup-container:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    right: 0;
    top: 0;
    left: -20px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1;
}

.popup-container {
    position: absolute;
    left: -2000px;
    top: 90px;
    color: white;
    text-align: left;
    z-index: 10;
    padding-right: 25px;
    padding-left: 25%;
    font-size: 22px;
}

.popup-container a {
    color: white;
}

.popup-container a:hover {
    text-decoration: underline;
    color: white;
}

.popup-container.big {
    padding-left: 20%;
    font-size: 21px;
    top: 30px;
}

.popup-container.big span {
    font-size: 12px;
    display: block;
    font-style: italic;
}

@media(max-width:1427px) {
    .popup-container {
        padding-left: 12%;
    }
    .popup-container.big {
        padding-left: 7%;
    }
}

@media(max-width:1250px) {
    .popup-container {
        padding-left: 5%;
    }
    .popup-container.big {
        padding-left: 1%;
    }
}


@media(max-width:614px) {
    .popup-container {
        top:125px;
    }
}

.home-visible {
    display: none;
}
