@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../../../daman - Copia/HoverEffectIdeas/fonts/codropsicons/codropsicons.eot');
	src:url('../../../daman - Copia/HoverEffectIdeas/fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
url('../../../daman - Copia/HoverEffectIdeas/fonts/codropsicons/codropsicons.woff') format('woff'),
url('../../../daman - Copia/HoverEffectIdeas/fonts/codropsicons/codropsicons.ttf') format('truetype'),
url('../../../daman - Copia/HoverEffectIdeas/fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


a {
	outline: none;
	color: #3498db;
	text-decoration: none;
}

a:hover, a:focus {
	color: #528cb3;
}

section {
	padding: 1em;
	text-align: center;
}

.content {
	margin: 0 auto;
	max-width: 1000px;
}

.content > h2 {
	clear: both;
	margin: 0;
	padding: 4em 1% 0;
	color: #484B54;
	font-weight: 800;
	font-size: 1.5em;
}

.content > h2:first-child {
	padding-top: 0em;
}

